/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

input[type=range] {
  height: 2rem;
  -webkit-appearance: none;
  margin: 0 5% 0 5%;
  width: 100%;
  background: inherit;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--height-slider-track);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  background: var(--slider-track-color);
  border-radius: 0.5rem;
  border: 0.1rem solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 0px #000000;
          box-shadow: 0px 0px 0px #000000;
  border: 0.1rem solid #000000;
  height: var(--height-slider-thumb);
  width: var(--height-slider-thumb);
  border-radius: var(--height-slider-thumb);
  background: var(--slider-thumb-color);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.75rem;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--slider-track-color);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: var(--height-slider-track);
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: var(--slider-track-color);
  border-radius: 5px;
  border: 0.1rem solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 0.1rem solid #000000;
  height: var(--height-slider-thumb);
  width: var(--height-slider-thumb);
  border-radius: var(--height-slider-thumb);
  background: var(--slider-thumb-color);
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: var(--height-slider-track);
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: var(--slider-track-color);
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: var(--slider-track-color);
  border: 0.1rem solid #000000;
  border-radius: 1rem;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 0.1rem;
  box-shadow: 0px 0px 0px #000000;
  border: 0.1rem solid #000000;
  height: var(--height-slider-thumb);
  width: var(--height-slider-thumb);
  border-radius: var(--height-slider-thumb);
  background: var(--slider-thumb-color);
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: var(--slider-track-color);
}
input[type=range]:focus::-ms-fill-upper {
  background: var(--slider-track-color);
}

