@import url('https://fonts.googleapis.com/css?family=Changa|Montserrat&display=swap');

:root {
    --main-blue: #45567d;
    --main-gray: #303841;
    --color-uni: #7a99ac;
    --color-uni-dark: #547387;

    --font-body: 'Montserrat', serif;
    --font-rest: 'Changa', sans-serif;

    --height-header: 6rem;
    --height-footer: 3rem;

    --height-header-smartphone: 12rem;
    --height-footer-smartphone: 2rem;

    --height-slider-track: 0.6rem;
    --height-slider-thumb: 1.7rem;
    --slider-track-color:#A9A7A6;
    --slider-thumb-color: #ffffff;

    --height-input-box: 20%;

    --grid-width-viz: 32%;
    --grid-gap-viz: 3%;



  }

  .centerContent{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .centerContentWithoutWidth{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .flexColumn{
    flex-direction: column;
    height: 100%;
  }

  .flexRow{
    flex-direction: row;
  }

  .alignCenter{
    align-items: center;
  }

  .noShrink{
    flex-shrink: 0;
  }
  


  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}