
  /* Base reset */
  * {
    margin: 0;
    padding: 0;
  }

  
  html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
    overflow: hidden;
  }

  


  /* Setze Border-Box für alle Elemente */
  *, ::before, ::after { 
    box-sizing: border-box; 
  }


body {
    font-family: 'Montserrat', serif;
    font-size: 1.4rem; /* 10px */
    font-weight: 400;
    line-height: 1.4;
    z-index: -1;
    background-image: linear-gradient(to bottom, rgba(256,256,256,0.4) 
      0%,rgba(256,256,256,0.4) 100%), url(desert.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    width: 100%;
    background-attachment: fixed;
}

  h1,
  h2 {
    font-family: 'Changa', sans-serif;
    font-weight: 700;
  }

  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
 
  }


 #headerNormal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    flex-shrink: 0;
    width: 100%;
    height: 10rem;
    z-index: 10;
    color: white;
    background: var(--main-gray);
  }


#headerSpecial {
  display: none;
}


#title{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 10rem;
  margin: 0 0 0 5rem;
}

header h1 {
  font-size: 2.5rem;
  width: 100%;
}

header p {
  font-style: italic;
  font-size: 1.2rem;
  width: 100%;
}

#logo {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end; 
    margin-right: 5rem; 
}

img  { 
    width: auto;
    height: 100%;
}

#main{
  position: fixed;
  display: flex;
  flex-grow: 1;
  top: 10rem;
  bottom: var(--height-footer);
  left: 0;
  width: 100%;
  overflow: hidden;
}

#container {
    display: flex;
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    width: 95vw;
    max-width: 1400px;
}

#inputVariables{
  display: grid;
  height: 100%;
  grid-template-rows: 16% 16% 16% 16% 16% 16%;
  grid-row-gap: 0.8%;
  grid-template-columns: 90%;
  width: 16%;
  min-width: 18rem;
}

.inputBoxen {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-uni);
  border-radius: 0.5rem;
  -webkit-user-select: none;
  user-select: none;
}

.titleInputbox {
  display: flex;
  height: 2rem;
  flex-grow: 0;
  width: 100%;
  background-color: white;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem 0.5rem 0 0;
  font-size: 1.3rem;
}

.formBox{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.inputSlide {
  width: 3rem;
	display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 50%;
  font-size: 1.3rem;
  color: white;
  text-align: center;
  background-color: var(--slider-track-color);
}

.inputSlide:hover{
  background-color: white;
  color: #363636;
}

.inputPrev{
  margin-left: 0.5rem;
}

.inputNext{
  margin-right: 0.5rem;
}

#textStandardabweichung {
  font-size: 1.8rem;
}

.noPointerEvents {
  pointer-events: none;
}

.buttonStandardabweichung{
  pointer-events: none;
  user-select: none;
}

.buttonStandardabweichung:hover{
  color: white;
  background-color: var(--slider-track-color);
}

#boxGeschlecht {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.iconFormBox {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.iconFormBox p {
  font-size: 0.8rem;
  padding: 0.5rem;
}

.fontAwesomeIcon {
  font-size: 3rem;
  align-items: center;
  justify-content: center;
}

.fas { 
  transform: scale(1.1,1);
}


.fa-times {
  color: #363636;
}

.clickIcon {
  cursor: pointer;
  transition: 0.3s ease;
  user-select: none;
}

.clickIcon:hover {
  color: lightgray;
}

.activeSex {
  color: lightgray;
}

#Standardabweichung {
  position: relative;
}

#popupAge{
  top: -100%;
}

#popupDeviation {
  bottom: 0;
}

.popup {
  background-color: var(--color-uni);
  text-align: center;
  width: 30rem;
  position: absolute;
  z-index: 1;
  left: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 2rem;
  border-radius: 1rem;
  transition: 1s ease;
}


.showPopup {
  visibility: visible;
}



.headerPopup {
  width: 100%;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: white;
  border-radius: 1rem 1rem 0 0;
}

.mainPopup{
  padding: 2rem;
}




.sliderContainer {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sliderPopup {
  width: 95%;
}

.sliderText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 2rem;
  font-family: var(--font-rest);
}

.sliderText p{
  font-size: 1.2rem;
  font-style: normal;
}

.sliderText span{
  font-size: 2rem;
}

#display {
  background-color: white;
  border-radius: 1rem;
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vizHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 15%;
  background-color: lightgrey;
  border-radius: 1rem 1rem 0 0;
  min-height: 8rem;
}

#vizHeader .fontHeader {
  font-size: 2.5rem;
}

.vizHeaderIconPlusText {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.vizHeaderIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 80%;
  max-height: 6rem;
}

.fontHeader{
  font-family: var(--font-rest);
  font-size: 3rem;
}

.fontHeaderWithoutSize{
  font-family: var(--font-rest);
}
	

#vizMain{
	width: 100%;
	height: 85%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.slideshow {
	width: 92%;
  height: 100%;
}

#viz1{
	  display: grid;
	  grid-template-columns: var(--grid-width-viz) var(--grid-width-viz) var(--grid-width-viz);
	  grid-column-gap: 2rem;
	  grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
}

#viz2Header{
  height: 4rem;
}

#viz2Display{
  flex-grow: 1;
}

#viz2Histogram{
  width: 100%;
  height: 100%;
}

.svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%; /* aspect ratio */
  vertical-align: top;
  overflow: hidden;
}
.svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0;
}

.reference-line {
  stroke: #363636;
  stroke-width: 0.7rem;
  stroke-dasharray: 8;
}

.tooltip {
  position: absolute;
  /*display: none;*/
  opacity: 0;
  min-width: 0.8rem;
  height: auto;
  background: none repeat scroll 0 0 lightgray;
  border: 0.1rem solid black;
  padding: 1.4rem;
  text-align: center;
  pointer-events: none;
  z-index: 100;
}


#viz3Header{
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}

#viz3PartOver {
  width: 100%;
}

.viz3Quarters {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viz3QuartersIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80%;
  max-height: 6rem;
}

#viz3PercentageAge {
  width: 100%;
}

.viz3PercentageAgeViz {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.viz3PercentageAgeIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 80%;
  max-height: 6rem;
}

.viz3PercentageText {
  font-family: var(--font-rest);
  font-size: 1.3rem; 
  text-align: center;
}

.viz3PercentageAgeTextPerc {
  font-weight: bold; 
  font-size: 2rem;
}

.fontViz{
  font-family: var(--font-body);
  font-size: 1.7rem;
  text-align: center;
  padding-top: 0.5rem;
  font-weight: bold;
  font-style: italic;
}

.fontVizSmiley{
  width: 100%;
  font-family: var(--font-rest);
  font-size: 2rem;
  text-align: center;
  vertical-align: bottom;
  user-select: none;
  height: 8rem;
  padding-top: 2rem;
}

.fontVizSmiley b {
  font-size: 3rem;
}

.centerContentGrid {
  align-self: flex-end;
  justify-content: center;
}

.boxShadowBig{
  filter: drop-shadow(0rem 0rem 1rem rgba(0,0,0,1));
}

.boxShadowSmall{
  filter: drop-shadow(0rem 0rem 0.3rem rgba(0,0,0,1));

}

.textSmiley{
  padding-left: 2rem;
  height: 4rem;
}

#vizSlide {
  width: 100%;
  display: flex;
  flex-grow: 1;
	justify-content: space-evenly;
  align-items: center;
}

.changeSlide{
	width: 3%;
	display: flex;
	justify-content: center;
	align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  font-size: 2.5rem;
  color: #363636;
  text-align: center;
}

.prev {
  margin-right: 1rem;
}

.next {
  margin-left: 1rem;
}

.changeSlide:hover{
	color: lightgrey;
}



.grid {
  stroke: lightgrey;
  opacity: 0.3;
}


#vizSlideIcons {
	width: 100%;
	display: flex;
	justify-content: center;
  align-items: center;
  height: 5rem;
}

.vizSlideIconsDetail {
	width: 2.8rem;
	height: 2.8rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #363636;
	border-radius: 50%;
	margin: auto 0.2vw auto 0.2vw;
  cursor: pointer;
  transition: 0.3s ease;
  font-size: 1.5rem;
  color: white;
}

.vizSlideIconsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  padding: 0 10% 0 10%;
}


.activePage, .vizSlideIconsDetail:hover{
  background-color: lightgrey;
  color: #363636;
}

footer{
  height: 3rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 1rem;
}

#copyright {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  padding-right: 1rem;
}




